@tailwind base;
@tailwind components;
@tailwind utilities;

 .header-menu-toggle_active {
      display: grid;
      visibility: visible;
      transform: translateX(0);
 }


@font-face {
    font-family: "sfui";
    src: url("./assets/fonts/SFUIText-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "sfui";
    src: url("./assets/fonts/SFUIText-Semibold.ttf");
    font-weight: 600;
}
@font-face {
    font-family: "sfui";
    src: url("./assets/fonts/SFUIText-Regular");
    font-weight: 400;
}
input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px #fff!important;
   box-shadow: inset 0 0 0 50px #fff!important;
}



